@{
    ViewData["Title"] = "Resultado";
}

<h1>Resultado da operaçao @ViewBag.operacao</h1>
<p>A operacao @ViewBag.operacao de @ViewBag.n1 @ViewBag.sinal @ViewBag.n2 é igual a: @ViewBag.resultado</p>
